<section style="background-color: black; color: bisque;">
    <h1 style="color: bisque;">I'm in the Servers Component</h1>
    <button [disabled] = "allowNewServer" class="btn btn-primary">Add Server</button>
    <p>{{ allowNewServer }} - string interpolation on p-tagin sisällä, tämä näkyy selaimessa... </p> <!-- string interpolation -->
    
    <p [innerHTML]="allowNewServer"> tämä sen sijaan ei näy selaimessa </p> <!-- property pinding-->
    <p>Below this I have 2 server components</p>
    <app-server></app-server>
 </section>
    
